<form action="/temp/123" method="post" enctype="multipart/form-data">
  <input
    type="email"
    class="form-control"
    id="floatingInput"
    placeholder="name@example.com"
    name="email"
    enctype="multipart/form-data"
  />
  <button class="btn btn-primary mt-3">Login</button>
</form>