<%- include('partials/header'); -%>

<form>
    <h2>New Product</h2>
    <label for="title">Title</label>
    <input type="text" name="title" required />
    <div class="title error"></div>
    <label for="price">Price</label>
    <input type="text" name="price" required />
    <div class="price error"></div>
    <!-- Uploading file -->
    <label for="image">Image</label>
    <input type="file" name="image" accept="image/*" />
    <div class="image error"></div>

    <button>Add Product</button>
</form>

<script>
    const form = document.querySelector("form");
    const titleError = document.querySelector(".title.error");
    const priceError = document.querySelector(".price.error");
    const imageError = document.querySelector(".image.error");

    form.addEventListener("submit", async (e) => {
        e.preventDefault();

        // reset errors
        titleError.textContent = "";
        priceError.textContent = "";
        imageError.textContent = "";

        // get values
        const title = form.title.value;
        const price = form.price.value;
        const image = form.image.files[0];

        try {
            const formData = new FormData();
            formData.append("title", title);
            formData.append("price", price);
            formData.append("image", image);

            const res = await fetch("/newproduct", {
                method: "POST",
                body: formData,
            });

            // handle errors in frontend
            const data = await res.json();
            console.log(data);
            console.log(data.errors);
            if (data.errors) {
                titleError.textContent = data.errors.title;
                priceError.textContent = data.errors.price;
                imageError.textContent = data.errors.image;
            }
            if (!data.errors) {
                location.assign("/products");
            }
        } catch (err) {
            console.log(err);
        }
    });
</script>
